on boot
    # Touchpanel
    chown system system /sys/touchpanel/double_tap
    chmod 0777 /sys/touchpanel/double_tap

    # Adaptive Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

    # Sunfish cpuset configuration 
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/audio-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 2-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

    # set default schedTune value for camera-daemon
    write /dev/stune/camera-daemon/schedtune.prefer_idle 1
    write /dev/stune/camera-daemon/schedtune.boost 0

on init
    # ZRAM parameters
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0
    # Report max frequency to some tasks.
    write /proc/sys/kernel/sched_lib_name "com.miHoYo.,UnityMain,libunity.so,libfb.so"
    write /proc/sys/kernel/sched_lib_mask_force 255
