on boot
# Backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/max_brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical

    # Fast charging
    write /sys/kernel/fast_charge/force_fast_charge 1
    # Fingerprint Boost
    write /sys/kernel/fp_boost/enabled 1

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

on boot
# Force enable DT2W
    chmod 0666 /sys/touchpanel/double_tap
    write /sys/touchpanel/double_tap 1
